h3 {
  font-family: cursive;
  font-size: 40px;
  font-size: 40pt;
  font-weight: 700;
  font-style: italic;
  color: #ff0000;
}

.myfonts {
  font-size: 2em;
}

.myfonts2 {
  font-size: 2rem;
}
.myimg {
  width: 50%;
}
